html, body{
    background-color: #eee;
    height: 5000px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    min-width: 290px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header + nav // pov: nav is in header */
header{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    background-color: #eee;
}

header > img {
    max-width: 300px;
}
 nav ul{
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

li{
    list-style: none;
}

.logo{
    width: 60vw;
    height: 100%;
    max-width: 300px;
}

/* after the header there is a form */
.form-section{
    margin-bottom: 50px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.form-section > h2{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 24px;
}


input[type="email"]{
    padding: 5px;
    outline: none;
    border: 1.5px solid rgb(185, 185, 185);
    color: fieldtext;
    width: 17.188rem;
    height: 1.875rem;
    
}

input[type="submit"]{
    border: none;
    height: 1.875rem;
    margin: 15px 0;
    padding: 0 20px;
    background-color: #f1c40f;
}

/* after the form it is separated width margin to nav bar */
main{
    margin-top: 100px;
}
/* in main there is one section with class="main-section" */
.main-section{
    display: flex;
    flex-direction: column;
    text-align: center; 
}

.first-feature{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    min-height: 125px;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
    font-size: 3em;
}
i{
    font-weight: 900;
}
.fa, .fas {
    font-weight: 900;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.fa-3x{
    font-size: 3em;
}
@media only screen and (max-width: 480px){
    header{
        display: flex;
        flex-direction: column;
    }
    nav ul{
        margin-top: 6px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    nav > ul > li{
        margin-bottom: 2px;
    }
    h2{
        margin-top: 5px;
    }

    .icon{
        display: none;
    }
    
    article{
        margin: 0 auto;
    }

    .first-feature{
        text-align: center;
        margin-top: 0.313rem;
        margin-bottom: 0.313rem;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
